@media all and (max-width: 1199px){

}

@media all and (max-width: 991px){
	
}

@media all and (max-width: 767px){
	
}

@media all and (max-width: 575px){
	.banner_text {
        width: 94%; 
    }
    .banner h2 { 
        font-size: 42px; 
    }
    .banner h2 span::after { 
        bottom: 3px; 
        width: 27px;
        height: 3px;
    }
    .banner_h4 h4 { 
        font-size: 18px; 
        margin-bottom: 4px;
    }
    .banner_social img {
        width: 50px;
    }
    .banner_social ul { 
        width: 93%; 
    }
}

@media all and (max-width: 450px){
    
}